.paragraphe{
        text-align: center;
        color: white;
        margin-top: 20%;
        margin-left: 15%;
        margin-right: 15%;
        font-weight: 100;
        
       
        
        
        
}



    .imagelogo{
        height:140px ;
        width: 220px;
        display:flex;
        margin-left: 5%;
        
    } 
    .titre{
        text-align: center;
        color: aliceblue;
        font-size: 100px;
        font-family:Brush Script MT,Georgia,Garamond,Helvetica, Courier New, monospace;
      }
      

