.paragraphe{
        text-align: center;
        color: white;
        margin-top: 20%;
        margin-left: 15%;
        margin-right: 15%;
        
       
        
        
        
}



    .imagelogo{
        height:140px ;
        width: 220px;
        display:flex;
        margin-left: 5%;
        
    } 

