.paragraphe{
        text-align: center;
        color: white;
        margin-top: 30%;
        
        
        
}



    .imagelogo{
        height:140px ;
        width: 200px;
        display:flex;
        
    } 

