.conteneur{
    background-color: rgba($color: #f8f8f8a4, $alpha: 0.2);
    
    
    
    

    
    }

    .conteneur{
        text-align: center;
        margin: 200px;
    }

    .imgup{
        padding: 100px;
    }

    