
//Importation d'une police avec une url
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

//permet de modifier le style de la classe navigation
.navigation {
   margin-top: 10px;
   text-align: center;
    
   
    


	//permet de modifier le style de la balise a qui a pour classe navigation
    a{

    
    margin: 110px;


        
       

        box-shadow:inset 0px 1px 0px 0px #efdcfb;
	background:linear-gradient(to bottom, #dfbdfa 5%, #e37fe8 100%);
	background-color:#dfbdfa;
	border-radius:60px;
	border:1px solid #f285e5;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9752cc;
    }
	//permet de modifier le style de la balise a qui permet de spécifier l'apparence d'un élément au moment où l'utilisateur le survole avec le pointeur, sans nécessairement l'activer
    a:hover {
        background:linear-gradient(to bottom, #e37fe8 5%, #dfbdfa 100%);
	background-color:#e37fe8;
    }
    
}
//permet de modifier le style de la classe menu
.menu{
margin-top: 5px;
margin-left: 80%;

	
}